.logo{
	position: absolute;
	left: 10px;
	vertical-align: middle;
	font-weight: 600;
}
.logo h1{
	font-size: 18px;
	margin: 0;
    padding: 0;
    

}
.navbar{
	padding: 10px;
	position: fixed;	
	background-color: #EEEEEE;
	height: 40px;
	width: 100%;
	text-align: right;
	border-bottom: 1px solid grey;
}
ul{
	display: inline-block;
	list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
li{
	display: inline-block;
	
}
.navbar a{
	margin-right: 20px;
}
a{
	color: rgb(0, 75, 145);
	text-decoration: none;
}
main{
	padding-top: 90px;
	margin-left: 90px; 
}
main div{
	display: block;
}
.search-section .label{
	display: block;
	margin-bottom: 8px;
}
.search-section .search-input{
	display: inline-block;
	border: 1px solid grey;
	border-radius: 3px;
}
.search-section input{
	width: 400px;
	height: 30px;
	padding: 0 5px 0 8px;
	font-size: 16px;
}
.search-section .search-button {
	height: 30px;
	width: 37px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 2px 6px 3px 6px;
	vertical-align: bottom;
}
.page-nav{
	display: inline-block;
	font-size: 0;
	border: 1px solid grey;
	border-radius: 3px;
}
.pages-button, .pages-display {
	display: inline-block;
	font-size: 18px;
	padding: 5px 25px;
}
.pages-display{
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}
nav,section{
	margin-bottom: 30px;
}
.listing{
	list-style: none;
	margin-bottom: 15px;
	display: list-item;
}
.date{
	color: grey;
	margin-right: 20px;
}
.place{
	color: grey;
	margin-left: 20px;
}
.job{
	font-weight: 800;
}